Config(
    app: AppConfig(
        name: "my-indexer",
    ),
    db: DbConfig(
        db_url: "postgres://myuser:mypassword@localhost:5432/indexer",
        max_conn: 100,
    ),
    indexer: IndexerConfig (
	    tm_ws_url: "wss://testnet-node.elder.shib.io/websocket",
	    batch: 10,
	    workers: 10,
	    windows: [ 100, 1000, 33200 ],
    ),
    querier: QuerierConfig (
        tarpc: "localhost:18181",
        graphql: "localhost:10101",
    ),
    telemetry: TelemetryConfig(
        trace_exporter: "http://localhost:4317",
        timeout_millis: 5000,
    ),
)
